@import url('http://fonts.cdnfonts.com/css/roboto');

:root {
  --primary-red: E60000;
  --primary-grey: 282D30;
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  display: grid;
  grid-template: "nav  nav" 60px
                 "snav main" 1fr
                 / 70px 1fr;
}

.main {
  grid-area: main;
  display: grid;
  gap: 20px;
  margin-left: 2rem;
  grid-template: "head  .    . " 3fr
                 "mcht  mt   . " 8fr
                 "ch    mt   . " 8fr
                 ".     .    . " 5px
                 / 1fr minmax(250px, 280px) 10px;
}

.charts {
  grid-area: ch;
  display: flex;
  justify-content: space-between;
}

.recharts-surface {
  width: auto;
  height: 100%;
}

.recharts-wrapper {
  display: flex;
  justify-content: center;
  width: auto !important;
  height: 100% !important;
}