.container-metrics {
    grid-area: mt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.metrics {
    background-color: #FBFBFB;
    display: flex;
    padding: 35px;
}

.image-container-energy {
    width: 45px;
    aspect-ratio: 1/1;
    margin-right: 15px;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 4, 4, 0.1);
}

.image-container-chicken {
    width: 45px;
    aspect-ratio: 1/1;
    margin-right: 15px;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(74, 184, 255, 0.1);
}

.image-container-apple {
    width: 45px;
    aspect-ratio: 1/1;
    margin-right: 15px;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(249, 206, 35, 0.1);
}

.image-container-cheeseburger {
    width: 45px;
    aspect-ratio: 1/1;
    margin-right: 15px;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 81, 129, 0.1);
}

.metrics-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.metrics-description p {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
}

.metrics-description span {
    color: #74798C;
    font-weight:500;
    font-size: 0.8rem;
}